{% extends 'base.html.twig' %}

{% block title %}Employees index{% endblock %}

{% block body %}
    <h1>Employees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>PatherName</th>
                <th>LastName</th>
                <th>Position</th>
                <th>Salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.patherName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <a href="{{ path('app_employees_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('app_employees_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employees_new') }}">Create new</a>
{% endblock %}
